.slidecontainer {
    width: 100%;
}
  
#slider {
  width: 100%;
  background: #ffffff;
  outline: none;
  opacity: 1;
  height: 20px;
  border-radius: 10px; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
#slider:hover {
  opacity: 1;
}

  /* .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  } */

.slidecontainer{
  padding-left: 20px;
  padding-right: 20px;
}
